body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 0;
    padding-bottom: 0;
}

.header h1 {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.header li {
    list-style-type: none;
}

.header a:link {
    text-decoration: none;
    color: #E5E7EB
}

.header a:visited {
    text-decoration: none;
    color: #E5E7EB
}

.hero {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 40px;
}

.content {
    flex: 1;
    padding: 50px;
    padding-right: 0px;
}

.content h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

.content p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px 0;
    padding: 0;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 5px 30px;
    border-radius: 8px;
    border: 0px;
}

.hero .imgdiv {
    flex: 1;
    padding: 50px;
    padding-left: 0px;
}

.hero img {
    max-width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.info h2 {
    font-size: 36px;
    font-weight: 800;
    padding: 0;
    color: #1F2937;
}

.boxes {
    display: flex;
    padding: 100px;
    gap: 20px;
    justify-content: space-around;
}

.box {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
}

.box img {
    border: 5px solid #3882F6;
    border-radius: 8px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px 150px;
}

.quote h3 {
    font-size: 36px;
    font-weight: 300;
    padding: 0;
    margin: 0;
    font-style: italic;
    color: #1F2937;
}

.quote p {
    padding: 0;
    margin: 0;
    align-self: flex-end;
    font-weight: bold;
}

.signup {
    display: flex;
    margin: 100px;
    padding: 50px;
    background-color: #3882F6;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 8px;
    gap: 15px;
    flex: 1;
    align-self: center;
}

.signupHead {
    font-size: 18px;
    color: #F9FAF8;
    font-weight: bold;
}

.signupText {
    font-size: 18px;
    color: #F9FAF8;
}

.signup button {
    border: 2px solid #F9FAF8;
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    color: #F9FAF8;
    padding: 25px;
}

button a:link {
    text-decoration: none;
    color: #E5E7EB
}

button a:visited {
    text-decoration: none;
    color: #E5E7EB
}